/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "primeicons/primeicons.css";
@import 'material-symbols';

/* You can add global styles to this file, and also import other style files */
html {
}

body {
}

@font-face {
    font-family: "Prompt";
    src:
        local("Prompt"),
        url(./../public/fonts/prompt/Prompt-Regular.ttf) format("truetype");
}

* {
    font-family: "Prompt", Arial, Helvetica, sans-serif;
}
