<div class="flex h-screen w-full">
    <div class="flex h-full w-full flex-col bg-gray-100 lg:w-6/12">
        <div>
            <div class="hidden sm:block">SM:</div>
            <div class="hidden md:block">MD:</div>
            <div class="hidden lg:block">LG:</div>
            <div class="hidden xl:block">XL:</div>
            <div class="hidden 2xl:block">2XL:</div>
        </div>
        <div class="absolute m-4 text-xl">Seed Base</div>
        <div class="m-auto w-[320px]">
            <form [formGroup]="formLogin" (ngSubmit)="onSubmitForm()">
                <div class="text-xl">Base Login</div>
                <div class="relative mt-4">
                    <label for="username" class="absolute ml-4 mt-2 rounded bg-white px-2 text-xs">Username: </label>
                    <input
                        type="text"
                        id="username"
                        name="username"
                        placeholder="Username"
                        class="mt-4 w-full rounded border border-gray-300 px-4 py-2"
                        [maxlength]="inputMaxLength"
                        formControlName="username"
                    />
                </div>
                <div class="relative mt-4">
                    <label for="password" class="absolute ml-4 mt-2 rounded bg-white px-2 text-xs">Password: </label>
                    <input
                        type="password"
                        id="password"
                        name="password"
                        placeholder="Password"
                        class="mt-4 w-full rounded border border-gray-300 px-4 py-2"
                        [maxlength]="inputMaxLength"
                        formControlName="password"
                    />
                </div>
                <div class="mt-4">
                    <button type="submit" class="w-full rounded border border-gray-300 bg-gray-300 py-2 text-center text-gray-800 hover:bg-gray-400">Login</button>
                </div>
                <div class="my-6 flex flex-row items-center">
                    <hr class="w-4/12" />
                    <div class="w-4/12 text-center text-xs">Or Login With</div>
                    <hr class="w-4/12" />
                </div>
                <div class="mt-4">
                    <button type="button" class="w-full rounded border border-gray-300 bg-gray-300 py-2 text-center text-gray-800 hover:bg-gray-400">Social Login</button>
                </div>
            </form>
        </div>
    </div>
    <div class="hidden h-full w-6/12 bg-gray-600 lg:flex">
        <div class="m-auto text-6xl text-gray-100">SEED</div>
    </div>
</div>
